CONTAINERS_PREFIX: "pfe_ansible_"

# Gitea configuration for Ansible playbook
GITEA_VERSION: "1.24.5"
GITEA_REMOTE_URL: "http://localhost:3402"
GITEA_LOCAL_URL: "http://gitea:3000"

# GITEA Security Configuration
GITEA_SECRET_KEY: "My_SECRET_KEY"
GITEA_INTERNAL_TOKEN: "My_INTERNAL_TOKEN"
GITEA_ALLOWED_HOST_LIST: "integration-service,localhost"

# GITEA User access configuration
GITEA_USERNAME: "gitea_admin"
GITEA_PASSWORD: "admin123"
GITEA_USER_EMAIL: "admin@example.com"
GITEA_TOKEN: "" # This token will be generated with Ansible

# Gitea Repository Configuration
GITEA_REPO_OWNER: "gitea_admin"
GITEA_REPO_NAME: "cdm-data"

# Gitea Runner Configuration
GITEA_RUNNER_NAME: "ubuntu-latest"
GITEA_RUNNER_LABELS: "linux,docker,ubuntu-latest"
RUNNER_JOB_CONTAINER_IMAGE: "node:18"
GITEA_RUNNER_REGISTRATION_TOKEN: "" # This token will be generated with Ansible

# Gitea Webhook Configuration
GITEA_WEBHOOK_SECRET: "your-webhook-secret"
